@font-face {
    font-family: 'TESLA';
       src: url('fonts/TESLA.eot');
       src: url('fonts/TESLA.eot?#iefix') format('embedded-opentype'),
            url('fonts/TESLA.woff') format('woff'),
            url('fonts/TESLA.ttf') format('truetype'),
            url('fonts/TESLA.svg') format('svg');
      font-weight: normal;
      font-style: normal;
}